{
   "root": true,
   "extends": [
      "eslint:recommended",
      // "plugin:prettier/recommended",
      // "plugin:@typescript-eslint/eslint-recommended",
      "plugin:react/recommended",
      "plugin:@typescript-eslint/recommended",
      "prettier/@typescript-eslint"
   ],
   "parser": "@typescript-eslint/parser",
   "env": {
      "browser": true,
      "es6": true,
      "jest": true
   },
   "parserOptions": {
      "ecmaVersion": 2018,
      "sourceType": "module",
      "ecmaFeatures": {
         "jsx": true,
         "arrowFunctions": true
      }
   },
   "plugins": ["react", "@typescript-eslint", "prettier"],
   "settings": {
      "react": {
         "version": "detect"
      },
      "import/resolver": {
         "node": {
            "extensions": [".js", ".jsx", ".ts", ".tsx"],
            "paths": ["./src"]
         }
      }
   },
   "rules": {
      "quotes": [1, "single"],
      "react/react-in-jsx-scope": "off",
      "@typescript-eslint/no-explicit-any": "off",
      "comma-dangle": 0
      // "function-paren-newline": "off",
      // "global-require": "off",
      // "import/no-dynamic-require": "off",
      // "no-inner-declarations": "off",
      // "class-methods-use-this": "off",
      // "import/extensions": "off",
      // "import/prefer-default-export": "off",
      // "@typescript-eslint/explicit-function-return-type": "off",
      // "@typescript-eslint/no-var-requires": "off"
   }
}
