.field {
   display: flex;
   position: relative;
   height: 50px;
   width: 100%;
   align-items: center;
   justify-content: space-around;
   background: var(--color-white);
   border-radius: 25px;
   box-shadow: inset 2px 2px 5px var(--color-gray),
      inset -5px -5px 10px var(--color-gray-indent);
   transition: all 350ms ease-in-out;
   padding: 1em;
   color: var(--color-gray-dark);
}

span {
   margin-right: 0.5em;
}

input {
   font-size: 1.1em;
   height: 100%;
   width: 100%;
   outline: none;
   border: none;
   background: none;
}

input:focus ~ label {
   box-shadow: inset 2px 2px 5px var(--color-gray),
      inset -1px -1px 2px var(--color-gray-indent);
}

input:placeholder {
   /* color: var(--color-gray-dark); */
}

input:hover {
   color: var(--color-black);
}
