.header {
   padding: 1em;
   display: grid;
   grid-template-columns: 10% 70%;
   grid-template-areas: 'logo search';
   align-items: center;
   justify-content: space-between;
}

.logo {
   height: 3.5em;
   display: inline-block;
}

@media (max-width: 479.98px) {
   .header {
      grid-template-columns: 1fr;
      grid-template-rows: repeat(2, 1fr);
      grid-template-areas: 'logo' 'search';
   }
   .logo {
      margin: auto;
      margin-bottom: 0.5em;
   }
}
