.header {
   padding: 1em;
   display: grid;
   grid-template-columns: 10% 70%;
   grid-template-areas: 'logo search';
   align-items: center;
   justify-content: space-between;
}

.logo {
   height: 3.5em;
   display: inline-block;
}

.pokeball {
   height: 2.5em;
   display: inline-block;
   margin: 0 1em 0 0;
}

.fixed {
   position: fixed;
   display: grid;
   width: 80% !important;
   margin: auto !important;
   align-items: center;
   grid-template-columns: 10% 70%;
   padding: 1em 2.5em;
   justify-content: space-around;
   background: var(--color-white);
   box-shadow: 5px 5px 18px var(--color-gray), -5px -5px 18px var(--color-light);
   border-radius: 25px;
   left: 0;
   right: 0;
   top: 2em;
   z-index: 9999;
}

@media (max-width: 479.98px) {
   .fixed {
      width: 95% !important;
      padding: 1em 5px;
   }
   .header {
      grid-template-columns: 1fr;
      grid-template-rows: repeat(2, 1fr);
      grid-template-areas: 'logo' 'search';
   }

   .logo {
      margin: auto;
      margin-bottom: 0.5em;
   }
}
