.container {
   display: block;
   width: 100%;
   position: relative;
   overflow: hidden;
   border-radius: 25px;
   background: var(--color-white);
   box-shadow: 9px 9px 18px var(--color-gray), -9px -9px 18px var(--color-light);
   margin-bottom: 1.5em;
}

.image {
   display: block;
   width: 100%;
   height: auto;
   top: 0;
   bottom: 0;
   left: 0;
   right: 0;
   object-fit: cover;
}
