.container {
   display: flex;
   width: 100%;
   align-items: center;
   justify-content: center;
   position: relative;
   overflow: hidden;
   border-radius: 25px;
   background: var(--color-white);
   box-shadow: inset 2px 2px 5px var(--color-gray),
      inset -5px -5px 10px var(--color-gray-indent);
   margin-bottom: 1.5em;
   padding: 1em;
}

.image {
   display: block;
   width: auto;
   height: auto;
   top: 0;
   bottom: 0;
   left: 0;
   right: 0;
   object-fit: cover;
}
